* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

body { 
    padding: 80px 120px;
    background-color: #ffffff;
}

.span-top { 
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.span-mid { 
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color:  hsl(234, 12%, 34%);
    margin-bottom: 10px;
}

.span-bottom { 
    font-family: 'Poppins', sans-serif;
    width: 545px;
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}

.main { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.article-wrapper { 
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section { 
    height: 300px;
    width: 420px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 35px;
    position: relative;
    transition: 0.3s;
}

.section-red { 
    border-top: 4px solid hsl(0, 78%, 62%);
}

.section-orange { 
    border-top: 4px solid hsl(34, 97%, 64%);
}

.section-cyan { 
    border-top: 4px solid hsl(180, 62%, 55%);
}

.section-blue { 
    border-top: 4px solid hsl(212, 86%, 64%);
}

.article-image-wrapper { 
    position: absolute;
    bottom: 33px;
    right: 33px;
}

.article-text-wrapper { 
    display: flex;
    flex-direction: column;
    gap: 9.1px;
}

.span { 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 25px;
}

.paragraph { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-size: 16px;
}

.section:hover { 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 14px 44px 0px;
}

@media (max-width: 768px) { 
    .main { 
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 390px) { 
    .section { 
        width: 325px;
        height: 254px;
    }

    .span-top { 
        width: 325px;
        text-align: center;
    }

    .span-bottom { 
        width: 335px;
    }

    .article-wrapper { 
        padding-top: 20px;
    }

}